{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleg.css')}}">
{% endblock style %}

{% block content %}


<section class="affi1">
    <div class="container affi1">
        <div class="row">


            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1>AFFILIATE PROGRAM</h1>
                <h2>Join the pampBit Affiliate Program</h2>
                <h3>Earn unlimited commission with up to 3 degrees of connection</h3>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12  ">
                <div class="pict "><img src="{{ url_for('static', filename='img/affiliates.png')}}" alt="" width="100%"
                                        height="70%"></div>

            </div>

        </div>
    </div>
</section>

<section class="affi2">
    <div class="container affi2">
        <div class="row">
            <div class="col-xl-5 col-md-6 col-sm-12 ">
                <h1>pampBit Affiliate Program in a nutshell</h1>
                <h2>Experience a new way of growing your earnings in crypto</h2>
                <h3>Whether you are a crypto trader or a die-hard crypto fan, you can invite your social network through
                    the pampBit Affiliate Program and earn unlimited commission. Generate your invite links on the
                    Affiliate Dashboard and share them across your social media channels.</h3>
                <h4>Anyone who signs up through your links will become your referral. You can watch your earnings grow
                    as your network of referrals blooms.</h4>
            </div>
            <div class="col-xl-2 col-md-2 col-sm-4 tyz">
                <h5>+55%</h5>
                <h6>Fees you can earn</h6>
            </div>
            <div class="col-xl-2 col-md-2 col-sm-4 tyz">
                <h5>1.x</h5>
                <h6>Fees multipliers and incentives</h6>
            </div>
            <div class="col-xl-2 col-md-2 col-sm-4 tyz">
                <h5>Up to 3</h5>
                <h6>Degrees of connection</h6>
            </div>
        </div>
    </div>
</section>

<section class="affi3">
    <div class="container affi3">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1>Why become a pampBit Affiliate?</h1>
                <h2>The pampBit Affiliate Program is one of a kind. Unlike other crypto affiliate programs, its
                    commission structure allows you to get a percentage of the trading and margin funding fees up to
                    three levels within your referral network.</h2>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h3 class="tpz">But not only that, if your referrals meet the requisite criteria, you’re also entitled
                    to commission multipliers. You can track how much you earn and how your network performs in
                    real-time through the Affiliate Dashboard.</h3>
                <h3>The pampBit Affiliate Program enables you to add value to your community and social network. Crypto
                    trading doesn’t have to be a solitary pursuit. Let’s grow the crypto community together with the
                    pampBit Affiliate Program!</h3>
                <h3>For more details on the pampBit Affiliate Program’s commission scheme, check out our <a href="#">
                    FAQ</a> and <a href="#">Terms of service</a></h3>
            </div>


        </div>
    </div>
</section>

<section class="affi4">
    <div class="container affi4">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1>Fees you can earn</h1>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1>Multipliers</h1>
            </div>

            <div class="col-xl-2 col-md-4 col-sm-12 tyz1">
                <h5>18%</h5>
                <h6>on 1st degree</h6>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-12 tyz1">
                <h5>6%</h5>
                <h6>on 2nd degree</h6>
            </div>

            <div class="col-xl-2 col-md-4 col-sm-12 tyz1">
                <h5>2%</h5>
                <h6>on 3rd degree</h6>
            </div>

            <div class="col-xl-2 col-md-4 col-sm-12 tyz1">
                <h5>Up to 1.44x</h5>
                <h6>Verification</h6>
            </div>

            <div class="col-xl-2 col-md-4 col-sm-12 tyz1">
                <h5>Up to 1.5x</h5>
                <h6>UNUS SED LEO

                </h6>
            </div>

            <div class="col-xl-2 col-md-4 col-sm-12 tyz1">
                <h5>Up to 1.44x</h5>
                <h6>Social</h6>
            </div>

            <h6 class="ppo">The Developers Reward</h6>
            <h5 class="oop">To the aspiring people who develop their trading platforms, we remember you. If you
                integrate pampBit’s APIs in your products or trading libraries, you will get a 5% rebate for each trade
                made through the APIs. The 5% developers’ reward is fixed and not subject to monthly reductions over
                time.</h5>
            <h5 class="oop">What’s more, the Developers Reward will run on top of the Affiliate Program, meaning if you
                have an active affiliation network and it’s using your trading tool, you will be rewarded with both the
                affiliate’s and the developers’ reward.</h5>
        </div>
    </div>
</section>

<section class="affi5">
    <div class="container affi5">
        <div class="row">
            <h1 class="mb-5">How it works</h1>
            <div class="col-xl-3 col-md-6 col-sm-12 mt-5">
                <div class="pict "><img src="{{ url_for('static', filename='img/step_1.svg')}}" alt="" width="50%"
                                        height="10%"></div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 ">
                <h2>Step 1</h2>
                <h3>Sign Up</h3>
                <h4>Everyone can join the pampBit Affiliate Program. If you don’t have a pampBit account yet, it only
                    takes a few minutes to create one. After logging in to your account, you will be able to obtain
                    access to the Affiliate Dashboard and start generating referral codes. Share the referral codes
                    across all your social networks.</h4>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 mt-5">
                <div class="pict "><img src="{{ url_for('static', filename='img/step_2.svg')}}" alt="" width="50%"
                                        height="10%"></div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 ">
                <h2>Step 2</h2>
                <h3>Build</h3>
                <h4>Spread the word with your fellow crypto traders or within your crypto communities. Gift them with a
                    6% rebate fee on their signup. Build a community of crypto enthusiasts based upon the mutual
                    relationships that exist in your network.To help you manage your strategy, a label can also be
                    assigned to each link that you generate.</h4>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 mt-5">
                <div class="pict"><img src="{{ url_for('static', filename='img/step_3.svg')}}" alt="" width="50%"
                                       height="10%"></div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 ">
                <h2>Step 3
                </h2>
                <h3>Track</h3>
                <h4>The Affiliate Dashboard comes in handy when tracking your referral codes’ performance. You can also
                    see how much you have earned and how your referrals have been doing so far through the dashboard. No
                    need to worry about privacy though, since all referrals will be shown in nicknames without revealing
                    any personal information.

                </h4>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 mt-5">
                <div class="pict"><img src="{{ url_for('static', filename='img/step_4.svg')}}" alt="" width="50%"
                                       height="10%"></div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 zz">
                <h2>Step 4</h2>
                <h3>Earn</h3>
                <h4>Every time your referrals trade or perform certain actions on the platform, you will receive a
                    percentage of their trading and margin funding fees. This happens in real-time, viewable on your
                    Affiliate Dashboard. To make it even more interesting, you will get a percentage of the trading and
                    margin funding fees of up to three levels within your referral network.</h4>
            </div>
        </div>
    </div>
</section>

<section class="secfour1">
    <div class="container secfour1">
        <div class="row">

            <div class="col-xl-6 col-md-12 col-sm-12 mt-5 mb-5 ">
                <h1 style="color:#01a781; font-size: 13px;">UNUS SED LEO</h1>
                <h2>If you and your network hold UNUS SED LEO tokens, you can enjoy even more benefits from the pampBit
                    Affiliate Program.</h2>
                <h3>On top of the fee reduction and discounts that you receive while trading on pampBit, you are also
                    entitled to special multipliers to your commission from the Affiliate Program.</h3>
                <h3>The more UNUS SED LEO tokens that your members hold, the bigger the multiplier, which means the
                    bigger the commission you will receive.</h3>
            </div>
            <div class="col-xl-6 col-md-12 col-sm-12 mt-5 ">
                <div class="pict"><img src="{{ url_for('static', filename='img/leo.png')}}" alt="" width="100%"
                                       height="100%"></div>
            </div>
        </div>
    </div>
</section>


<section class="secfive1" style="background-color: #102331;">
    <div class="container secfive1">
        <div class="row">

            <link rel="stylesheet" href="css/style.css">
            <div class="col-xl-6 col-md-6 col-sm-12 mt-5 mb-5">
                <h1 class="mb-4" style="font-size: 28px;">Please have a look at our<a href="#"
                                                                                      style="text-decoration: none; color:#01a781 ;">
                    FAQ </a>for more details on the pampBit Affiliate Program. </h1>
                <h1 style="font-size: 22px;"> If you can’t find what you’re looking for, our support team is always
                    ready to help you start your pampBit Affiliate journey</h1>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 zzz mb-5">
                <div class="ida">
                    <a href="{{url_for('support')}}" class="btn btn-itd btn-lg itd" style="font-size: 18px;">Go to support ></a>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}