{% extends 'layout.html' %}

{% block content %}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container mko">
    <div class="tradingview-widget-container__widget"></div>

    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
            async>
    {
    "symbols": [
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      },
      {
        "description": "Luna",
        "proName": "BINANCE:LUNAUSDT"
      },
      {
        "description": "SOL",
        "proName": "BINANCE:SOLUSDT"
      },
      {
        "description": "Doge",
        "proName": "BITPANDAPRO:DOGEEUR"
      },
      {
        "description": "Monero",
        "proName": "CAPITALCOM:XMRUSD"
      },
      {
        "description": "Ripple",
        "proName": "CURRENCYCOM:XRPUSD"
      },
      {
        "description": "Travala",
        "proName": "KUCOIN:AVABTC"
      }
    ],
    "showSymbolLogo": false,
    "colorTheme": "dark",
    "isTransparent": true,
    "displayMode": "adaptive",
    "locale": "en"
  }


    </script>
</div>
<!-- TradingView Widget END -->

<section class="zca">
    <div class="container 123">
        <div class="row">

            <h1 class="text-center text-white" style="font-size: 53px;">The home of digital
                <h1 class="text-center text-white mb-4" style="font-size: 53px;"> asset trading</h1></h1>
            <div class="col-xl-2 col-md-2 col-sm-6"></div>
            <div class="col-xl-2 col-md-2 col-sm-6"></div>
            <div class="col-xl-2 col-md-2 col-sm-6">

            </div>
            <div class="col-xl-2 col-md-2 col-sm-6">

            </div>
            <div class="col-xl-2 col-md-2 col-sm-6"></div>
            <div class="col-xl-2 col-md-2 col-sm-6"></div>

        </div>
        <div class="mt-5 uyu">
            <!-- Cryptocurrency Price Widget -->
            <script>
                !function(){var e=document.getElementsByTagName("script"),t=e[e.length-1],n=document.createElement("script");function r(){var e=crCryptocoinPriceWidget.init({base:"USD,EUR,CNY,GBP",items:"BTC,ETH,LTC,LUNA,SOL,DOGE,TRX,ADA,BTCD,CRAIG,XBS,XPY,PRC,CETI,DT",backgroundColor:"102331",streaming:"1",rounded:"1",boxShadow:"1",border:"1"});t.parentNode.insertBefore(e,t)}n.src="https://co-in.io/widget/pricelist.js?items=BTC%2CETH%2CLTC%2CLUNA%2CSOL%2CDOGE%2CTRX%2CADA%2CBTCD%2CCRAIG%2CXBS%2CXPY%2CPRC%2CCETI%2CDT",n.async=!0,n.readyState?n.onreadystatechange=function(){"loaded"!=n.readyState&&"complete"!=n.readyState||(n.onreadystatechange=null,r())}:n.onload=function(){r()},t.parentNode.insertBefore(n,null)}();

            </script><!-- /Cryptocurrency Price Widget -->
        </div>
    </div>
</section>
<!-- TradingView Widget BEGIN -->


<section class="secone">
    <div class="container seconn">
        <div class="row">
            <div class="col-12">
                <h6 class="text-left" style="color:#01a781; font-size:14px ; font-weight: 600;"> FEATURES </h6>
                <h2 class="text-left" style="color:#01a781; font-size: 50px;"> World class trading </h2>
                <h2 class="text-left mb-5" style="color:#01a781; font-size: 50px;">platform </h2>
            </div>
        </div>
        <div class="row rofls">
            <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="pict"><img src="{{ url_for('static', filename='img/icon-exchange.png')}}" width="" height="50"></div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6 mb-5">
                <h6><p class="pzx"> Exchange</p>
                    pampBit offers order books with top tier liquidity, allowing users to easily exchange Bitcoin,
                    Ethereum, EOS, Litecoin, Ripple, NEO and many other digital assets with minimal slippage.
                </h6>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="pict"><img src="{{ url_for('static', filename='img/icon-margin_funding.png')}}" alt="" width="110" height="16"></div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6 mb-5">
                <h6><p class="pzx">Margin funding</p>
                    Liquidity providers can generate yield by providing funding to traders wanting to trade with
                    leverage. Funding is traded on an order book at various rates and periods.
                </h6>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="pict"><img src="{{ url_for('static', filename='img/icon-margin_trading.png')}}" alt="" width="110" height="16"></div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6 mb-5">
                <h6>
                    <p class="pzx">Margin trading</p>
                    pampBit allows up to 10x leverage trading by providing traders with access to the peer-to-peer
                    funding market.
                </h6>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-6 ">
                <div class="pict"><img src="{{ url_for('static', filename='img/icon-order_type.png')}}" alt="" width="110" height="16"></div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6 mb-5">
                <h6><p class="pzx">Order types</p>
                    pampBit offers a suite of order types to give traders the tools they need for every scenario.
                    Discover more about our most advanced Algorithmic orders types.
                </h6>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="pict"><img src="{{ url_for('static', filename='img/icon-customizable_interface.png')}}" alt="" width="110" height="16"></div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6 mb-5">

                <h6><p class="pzx">Customizable interface</p>
                    Organize your workspace according to your needs: compose your layout, choose between themes, and set
                    up notifications.
                </h6>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="pict"><img src="{{ url_for('static', filename='img/icon-security.png')}}" alt="" width="110" height="16"></div>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-6 mb-5">

                <h6><p class="pzx">Security</p>
                    Security of user information and funds is our first priority. Learn more about our security features
                    and integrations.
                </h6>
            </div>
        </div>
        <h2 class="text-left mb-2 mt-3" style=" font-size: 16px; font-weight: 100;"><a class="nav-link" href="#"
                                                                                       style="color:#01a781;"> </a></h2>
    </div>
</section>

<section class="sectwo">
    <div class="container sectwo">
        <div class="row">
            <h6 class="mb-3" style="color: #01c095 ; font-size: 12px;"> ADVANCED FEATURES FOR PROFESSIONALS </h6>
            <h1 class="mb-5" style="color: #01c095; font-size: 50px; font-weight: 100;">To meet the highest of
                demands</h1>
            <div class="row rofls2 mt-4">
                <div class="col-xl-6 col-md-6 col-sm-12 mb-5">
                    <h6><p class="pzx">Corporate account and professional trading</p>
                        pampBit has a bespoke offering expertly tailored to meet the specific needs of professional and
                        institutional traders including sub-accounts, expedited verification, and dedicated customer
                        support.
                    </h6>
                    <a class="link" href=""> </a></div>
                <div class="col-xl-6 col-md-6 col-sm-12 mb-5">
                    <h6><p class="pzx"> Advanced chart tools</p>
                        pampBit facilitates a graphical trading experience with advanced charting functionality that
                        allows traders to visualise orders, positions and price alerts, tap to modify order properties,
                        and annotate to their trading strategy.
                    </h6>
                    <a class="link" href=""> </a></div>
                <div class="col-xl-6 col-md-6 col-sm-12 mb-5">
                    <h6 class=""><p class="pzx"> Professional connectivity</p>
                        Partnering with Market Synergy, corporate accounts and professional traders can take advantage
                        of the fastest trading speeds through institutional-grade connectivity and co-location services
                        with direct access to our digital asset gateway.
                    </h6>
                    <a class="link" href=""> </a></div>
                <div class="col-xl-6 col-md-6 col-sm-12 mb-5">
                    <h6 class="mb-4"><p class="pzx"> API</p>
                        The pampBit REST and Websocket APIs are designed to facilitate access to all features of the
                        pampBit platform, allowing full integration with traders’ own products and platforms.
                    </h6>
                    <a class="link" href=""> </a></div>

            </div>
        </div>
    </div>
</section>

<section class="secthree">
    <div class="container secthree">
        <div class="row">
            <h6 class="text-left" style="font-size: 12px; font-weight: 700;"> NEWS</h6>
            <h6 class="text-left mb-5" style="font-size: 50px;"> Explore our news</h6>
        </div>

        <div class="row roflszxc mt-5">
            <div class="col-xl-6 col-md-12 col-sm-12 mb-5 ">
                <div class="pict"><img src="{{ url_for('static', filename='img/Changelog_v1.32-1-1-539x303.png')}}" alt="" width="100%" height="100%">
                </div>
            </div>
            <div class="col-xl-6 col-md-12 col-sm-12 mb-5 tt">
                <h1 class="">Change Log: Version 1.35</h6>
                    <h5 class="mb-5"> Dec 31 2021</h1>
                <h1 class="">Honey Framework 3.24 and Honey 1.02</h6>
                    <h5 class="mb-5"> Dec 23 2021</h1>
                <h1 class="">pampBit Pay Release V1.2</h6>
                    <h5 class="mb-5"> Dec 21 2021</h1>
            </div>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 mb-3 ttz">
            <h3 class="text-left " style="font-size: 16px;"> The pampBit Change Log is an overview of all performance
                and UI changes made to the pampBit trading platform. For an overview of all previous changes, please
                refer to blog.pampBit.com/category/changelogs. Version 1.35 Features New fiat equivalents in the
                balances widget Confirmation dialog when the withdrawal…
            </h3>
        </div>
        <h4 class="text-left mb-5" style="font-size: 16px; color: #01c095"><a href=""> </a></h4>
    </div>
</section>

<section class="secfour">
    <div class="container secfour">
        <div class="row">
            <div class="col-xl-6 col-md-12 col-sm-12 mt-5 cxz">
                <div class="pict"><img src="{{ url_for('static', filename='img/leo.png')}}" alt="" width="100%" height="100%"></div>
            </div>
            <div class="col-xl-6 col-md-12 col-sm-12 mt-5 mb-5 cxz2">
                <h1 style="color:#01a781; font-size: 13px;">UNUS SED LEO</h1>
                <h2 class="mb-5" style="color:#01a781; font-size: 50px;">A token designed to empower the pampBit
                    community</h2>
                <h3 class="mb-5" style="font-size: 20px;">UNUS SED LEO provides utility for those seeking to maximize
                    the output and capabilities of the pampBit trading platform.
                </h3>
                <h4 style="font-size: 16px;"><a href="" style=" color:#01a781 ; text-decoration: none;"> </a></h4>
            </div>
        </div>
    </div>
</section>
{% endblock content%}