<nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color: #102331;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <span class="span1">pamp</span><span class="span2">BIT</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">For Traders</a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="{{ url_for('corporate') }}">Corporate & Professional</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('fees') }}">Our Fees </a></li>
                        <li><a class="dropdown-item" href="{{ url_for('security') }}">Security</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('market') }}">Market statistics</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">About Us</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('about') }}">About BiFinix</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('privacy') }}">Privacy policy</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('termofuse') }}">Terms of use</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">More</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">


                        <li><a class="dropdown-item" href="{{ url_for('affiliate') }}">Affiliate Program</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('smart') }}">S.M.A.R.T.</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('referral') }}">Referral</a></li>


                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Trading Tools</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">


                        <li><a class="dropdown-item" href="{{ url_for('exchange') }}">Exchange</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('history') }}">History</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('orders') }}">Orders</a></li>


                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('livetrade') }}">Live trading</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 top-menu">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Help</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">


                        <li><a class="dropdown-item" href="{{ url_for('support') }}">Support</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('faq') }}">F.A.Q.</a></li>


                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" style=" color: #01a781;">My
                        Account</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">


                        <li><a class="dropdown-item" href="{{ url_for('account') }}">account</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('faq') }}">F.A.Q.</a></li>


                    </ul>
                </li>


        </div>
    </div>

</nav>