{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylee.css')}}">
{% endblock style %}

{% block content %}

<section class="about1">
    <div class="container about1">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1 class="mb-4" style="font-weight: 700; font-size: 16px; color: #01a781">ABOUT pampBit</h1>
                <h4 style="font-size: 50px;">The go-to exchange to</h4>
                <h4 style="font-size: 50px;">trade crypto</h4>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <div class="pict"><img src="{{ url_for('static', filename='img/about.png')}}" alt="" width="80%" height="80%"></div>
            </div>
        </div>
    </div>
</section>

<section class="ppm">
    <div class="container ppm">
        <div class="row">
            <h1>The pampBit crypto exchange platform. We are a group of professionals whose main goal is to develop a
                crypto community by providing a secure and easy-to-use trading platform.</h1>

            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1>HIGH PERFORMANCE</h1>
                <h3>The main distinguishing feature of pampBit is support for processing speed of up to 10,000 trades
                    every second and 1,000,000 TCP connections</h3>

            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1>STRONG SAFETY</h1>
                <h3>More than 95% of all currency are stored on cold wallets. WAF (Web Application Firewall) - a
                    protective screen of a Web application that detects & blocks hacker attacks.</h3>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1>ADVANCED INTERFACE</h1>
                <h3>We use the Single Page Application. The components of the website are downloaded once per page.
                    Additional content is loaded when it is needed.</h3>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1>CONTACTS</h1>
                <h3>pampBit Financial Company OÜ Sepise tn 1 Lasnamäe linnaosa, Tallinn Harju maakond 11415. Register
                    code: 14637422</h3>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1>SUPPORT MAIN COINS</h1>
                <h3>pampBit wallet now supports: Bitcoin (BTC), Ethereum (ETH), United States dollar (USD)</h3>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1>MULTI-SUPPORT</h1>
                <h3>Support 24/7 +3726104267. English, Chinese (Mandarin), Japanese, Russian, Indonesian, Spanish,
                    German, Korean</h3>
            </div>
        </div>
    </div>
</section>

<section class="about2">
    <div class="container">
        <div class="row">
            <h1 style="font-size: 35px; font-weight: 700; color:  #01a781">About us</h1>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h5 style="font-size: 25px;">pampBit's mission is to give our users the ultimate cryptocurrency trading
                    experience.</h5>

            </div>
            c
            <h1 class="mb-5" style="font-size: 18px;">pampBit strives to achieve it by providing our users with
                state-of-the-art trading tools, innovative technology and unparalleled levels of customer service.</h1>
            <h1 style="font-size: 18px;" class="mb-3">
                pampBit strives to achieve it by providing our users with state-of-the-art trading tools, innovative
                technology and unparalleled levels of customer service.

                The digital asset space is evolving at a breakneck pace. To keep up with such rapid technological
                innovation requires an equally forward-thinking and agile approach. pampBit provides state-of-the-art
                digital asset trading services for our users and global liquidity providers.</h1>
            <h1 style="font-size: 18px;" class="mb-3">We firmly believe that the best cryptocurrency trading experience
                should be available to everyone.</h1>

        </div>
    </div>
    </div>
</section>

<section class="about3">
    <div class="container about3">
        <div class="row">
            <h1 style="font-size: 35px; font-weight: 700; color:  #01a781">Our story</h1>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h5 style="font-size: 25px;">As a cryptocurrency exchange founded in 2012, pampBit has always been at
                    the forefront of technological innovation in digital asset trading.</h5>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1 class="mb-5" style="font-size: 18px;">The pampBit team has gained invaluable experience in
                    blockchain technology while the platform has cemented its position as the go-to place for digital
                    asset traders and institutions to trade.</h1>
                <h1 style="font-size: 18px;" class="mb-3">
                    The pampBit team has gained invaluable experience in blockchain technology while the platform has
                    cemented its position as the go-to place for digital asset traders and institutions to trade.

                    In addition to a suite of advanced trading features and charting tool, pampBit provides access to
                    peer-to-peer (P2P) financing, an OTC market and margin trading for a wide selection of digital
                    assets and derivatives trading. pampBit’s strategy focuses on delivering the best crypto trading
                    experience for professional traders and liquidity providers around the world through the delivery of
                    cutting-edge technology.</h1>

            </div>
        </div>
    </div>
</section>

<section class="about4 mb-5">
    <div class="container about4">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <h1 style="font-size: 35px; font-weight: 700; color:  #01a781">The future
                    of data sharing</h1>
                <h4 style="font-size: 22px;">pampBit Terminal is a cutting-edge product offering real time historical
                    pampBit market data (“pampBit Market Data”). pampBit Market Data is delivered through a distributed
                    database that can be queried over a P2P network, powered by Dazaar – an open-source software
                    developed and operated by Dazaar Limited, allowing customers to cache, update and distribute data in
                    a sophisticated way.</h4>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 ">
                <div class="pict"><img src="{{ url_for('static', filename='img/cards.png')}}" alt="" width="80%" height="80%"></div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}