
{% extends 'layout.html' %}

{% block content %}

<section class="mainz" style="padding-top: 150px;">
    <div class="container mainz">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1 style="font-size: 12px; font-weight: 800; color: #01a781; padding-top: 70px ;">CORPORATE &
                    PROFESSIONAL</h1>
                <h4 style="font-size: 50px;">The home of</h4>
                <h4 style="font-size: 50px;">professional trading</h4>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <div class="pict mb-5"><img src="img/pro.png" alt="" width="75%" height="75%"></div>
            </div>
        </div>
    </div>
</section>
<section class="mainx">
    <div class="container mainx">
        <div class="row mt-5">
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <div class="pict mb-5"><img src="{{ url_for('static', filename='img/corporate-professional.svg')}}" alt="" width="75%" height="75%"></div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1 style="color: #01a781; font-size: 30px; font-weight: 750;">The home of professional trading</h1>
                <h1 style="font-size:30px; font-weight: 200;">pampBit has a bespoke offering expertly tailored to meet
                    the specific needs of professional and institutional traders. These are just some of the benefits
                    available to corporate accounts and professional traders at pampBit:</h1>
            </div>
        </div>
    </div>
</section>

<section class="mainc">
    <div class="container mainc">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1>Co-location and cross connectivity</h1>
                <h4>Partnering with Market Synergy, corporate accounts and professional traders can take advantage of
                    the fastest trading speeds through institutional-grade connectivity and co-location services with
                    direct access to our digital asset gateway.</h4>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1>Sub-accounts
                </h1>
                <h4>Corporate accounts and professional traders are able to create sub-accounts. Some of the many
                    benefits include grouping together of trade volume for fee tiers, and separate deposit and
                    withdrawal permissions.</h4>
            </div>

            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1>Expedited verification
                </h1>
                <h4>Corporate accounts and professional traders enjoy expedited verification time, maintaining
                    standardised compliance measures for anti-money laundering (AML), know your customer (KYC), and
                    counter-terrorism financing (CTF) laws and regulations.</h4>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1>Dedicated customer support</h1>
                <h4>Corporate accounts and professional traders are granted Tier One customer support, with ticket
                    responses expedited to a dedicated team of our top performing customer support personnel. The Tier
                    One team handles all corporate account tickets from raise to completion, coordinating issue
                    resolution across multiple teams, with 24/7 support.</h4>
            </div>
        </div>
    </div>
</section>

<section class="mainv mb-5">
    <div class="container mainv">
        <div class="row">
            <h1 style="color: #01a781; font-size: 30px; font-weight: 750;" class="mt-5">Wider benefits of trading with
                pampBit include:</h1>
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1>Access to Green Lane</h1>
                <h4>This service increases the maximum limit for automated withdrawal requests, and facilitates faster
                    withdrawals through fewer stages.</h4>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1>Advanced trading options</h1>
                <h4>pampBit has the most advanced order types in the market, enabling corporations and institutions to
                    implement highly complex and sophisticated trading strategies. We also provide access to high
                    quality APIs, margin trading, margin funding and derivative markets.</h4>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1>Over the counter trading (OTC)</h1>
                <h4>We offer an Over The Counter (OTC) service. Customers can either access instant liquidity through
                    the OTC Desk, or trade directly with a counterparty, in both cases bypassing the public order
                    books.</h4>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1>Dedicated servers</h1>
                <h4>pampBit has self-designed, dedicated, bare-metal servers with premium hardware that is best suited
                    to high volume trading.</h4>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1>Advanced security</h1>
                <h4>pampBit has industry advanced security measures in place, plus using dedicated, bare-metal servers
                    gives us complete control of the core infrastructure, and all future hardware and software
                    updates.</h4>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 cls ">
                <h1>Banking</h1>
                <h4>Account verification unlocks fiat banking deposits and withdrawals as well as USDT (Tether) deposits
                    and withdrawals.</h4>
            </div>
        </div>
    </div>
</section>

<section class="mainb mb-5 mt-5">
    <div class="container mainb">
        <div class="row mt-5">
            <h1 class="mb-3 mt-3" style="color: #01a781; font-size: 30px; font-weight: 750;" class="mt-5">Market leading
                connectivity and co-location services</h1>
            <h4 style="font-size: 25px;">pampBit is the first major crypto-currency exchange to provide a secure,
                dedicated low-latency connectivity solution for institutional clients. Our partnership with Market
                Synergy offers professional traders and institutional firms the following solutions, supported by round
                the clock assistance and industry renowned expertise:</h4>
            <div class="col-xl-4 col-md-6 col-sm-12 cls mt-5">
                <h1 style="font-size: 20px ;font-weight: 750;">Co-location</h1>
                <h4>Access bespoke FIX Feed and ISP Links to our digital asset gateway in a variety of secure locations
                    across the globe, including LD4, NY4 and ZH4.</h4>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-12 cls mt-5">
                <h1 style="font-size: 20px; font-weight: 750; ">Virtual private server</h1>
                <h4>Connect with a Virtual Private Server (VPS) within the co-location space.The VPS service offers a
                    bespoke combination of CPUs, RAM and SSD storage to meet specific needs.</h4>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-12 cls mt-5">
                <h1 style="font-size: 20px; font-weight: 750;">Cross connectivity</h1>
                <h4 class="mb-5">Experience the fastest trading speed in the market through our co-location service,
                    taking private servers directly into pampBit’s dedicated, high security data centre.</h4>
            </div>

        </div>
    </div>
</section>

{% if not current_user.is_authenticated %}
<section class="secfive" style="background-color: #102331;">
    <div class="container five">
        <div class="row">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
            <div class="col-xl-6 col-md-6 col-sm-12 zzz1">
                <h1>Get started with a professional or corporate account at pampBit today </h1>

            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 zzz ">
                <div class="ida">
                    <a href="{{ url_for('main_blueprint.register')}}" class="btn btn-itd btn-lg itd" style="font-size: 18px;">Sing Up</a>
                    <a href="{{ url_for('main_blueprint.login')}}" class="btn btn-itd btn-lg itd2" style="font-size: 18px;">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock content%}