<section class="footer">
    <div class="container secsix">

        <div class="row">
            <div class="pict "><span class="span1">pamp</span><span class="span2">BIT</span></div>
            <div class="container abc">
                <footer class="py-5">
                    <div class="row">
                        <div class="col-xl-2 col-md-2 col-sm-6">
                            <h5>TRADING TOOLS</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.livetrade') }}" class="nav-link p-0 text-muted">Live
                                    trading</a></li>
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.exchange') }}" class="nav-link p-0 text-muted">Exchange</a></li>
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.balance') }}" class="nav-link p-0 text-muted">Balance</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Codes</a></li>
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.orders') }}" class="nav-link p-0 text-muted">Orders</a></li>
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.history') }}" class="nav-link p-0 text-muted">History</a></li>
                            </ul>
                        </div>

                        <div class="col-xl-2 col-md-2 col-sm-6" style="padding-left: 0px;">
                            <h5>SPECIAL PROGRAMS</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.referral') }}" class="nav-link p-0 text-muted">Referral</a>
                                </li>
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.smart') }}" class="nav-link p-0 text-muted">S.M.A.R.T.</a>
                                </li>
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.affiliate') }}" class="nav-link p-0 text-muted">Affiliate
                                    Program</a></li>

                            </ul>
                        </div>

                        <div class="col-xl-2 col-md-2 col-sm-6" style="padding-right: 0px;">
                            <h5>pampBit INFO</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.about') }}" class="nav-link p-0 text-muted">About
                                    Us</a></li>
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.fees') }}" class="nav-link p-0 text-muted">Our
                                    Fees</a></li>


                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.security') }}" class="nav-link p-0 text-muted">Security</a>
                                </li>
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.corporate') }}" class="nav-link p-0 text-muted">Professional</a>
                                </li>
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.termofuse') }}" class="nav-link p-0 text-muted">Terms
                                    of use</a></li>

                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.privacy') }}" class="nav-link p-0 text-muted">Privacy
                                    policy</a></li>

                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.market') }}" class="nav-link p-0 text-muted">Market
                                    statistics</a></li>


                            </ul>
                        </div>

                        <div class="col-2" style="padding-left: 0px;">
                            <h5>GET HELP</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.faq') }}" class="nav-link p-0 text-muted">F.A.Q</a>
                                </li>
                                <li class="nav-item mb-2"><a href="{{ url_for('additional_blueprint.support') }}" class="nav-link p-0 text-muted">Support</a></li>

                            </ul>
                        </div>


                    </div>

                    <div class="d-flex justify-content-between py-4  mb-0">
                        <p>&copy; 2022 pampbit.com All rights reserved</p>
                        <ul class="list-unstyled d-flex">
                            <li class="ms-3"><a class="link-dark" href="#">
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#twitter"/>
                                </svg>
                            </a></li>
                            <li class="ms-3"><a class="link-dark" href="#">
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#instagram"/>
                                </svg>
                            </a></li>
                            <li class="ms-3"><a class="link-dark" href="#">
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#facebook"/>
                                </svg>
                            </a></li>
                        </ul>
                    </div>
                </footer>
            </div>

        </div>
    </div>
</section>