{% extends 'layout.html' %}

{% block content %}
<div class="registr">
    <form class="regz" action="" method="POST">
        <section class="center">
            <div class="container center">
                <div class="row aezkmi">
                    <div class="col-xl-4 col-md-1 col-sm-1 ">
                    </div>

                    {{ form_registration.hidden_tag() }}
                    <div class="col-xl-4 col-md-11 col-sm-11 ">
                        <h2 style="font-weight: 750;" class="mb-4">Sing up</h2>
                        <form class="regz">
                            <div class="mb-3 ">
                                <label for="exampleInputEmail1" class="form-label">Username</label> {{
                                form_registration.username(class='form-control') }}

                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="mb-3 ">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                {{ form_registration.email(class='form-control') }}
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                {{ form_registration.password(class='form-control', type='password') }}
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword2" class="form-label">Confirm password</label>
                                {{ form_registration.confirm_password(class='form-control', type='password') }}
                            </div>
                            <div class="mb-3 ">
                                <label for="exampleInputEmail1" class="form-label">Country of residence</label>
                                {{ form_registration.country(class='form-control') }}
                            </div>
                            <div class="mb-4 ">
                                <label for="exampleInputEmail1" class="form-label">Referral Code</label>

                                {{ form_registration.referral(class='form-control') }}
                            </div>
                            <h1 class="conf mb-4">By signing up I confirm I’ve created a strong and unique password not
                                being used
                                anywhere else and I agree to the <a href="">terms & conditions</a> and<a href="">
                                    anti-spam
                                    policy.</a>

                            </h1>
                            {{ form_registration.csrf_token }}
                            {{ form_registration.submit(class='btn btn-primary olx', placeholder='Sing Up') }}


                            <h1>This site is protected by hCaptcha and its <a href="">Privacy Policy</a>
                                and <a href="">Terms of Service</a> apply.</h1>
                        </form>
                    </div>
                    <div class="col-xl-4 col-md-1 col-sm-1 ">
                    </div>

                </div>
            </div>
        </section>
    </form>
</div>
{% endblock content %}