<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>BiFinex</title>
</head>
<body>
   <section class="logining">
       <div class="container logining">
           <div class="row">
            <div class="col-xl-3 col-md-1 col-sm-1 "> 
            </div>


            <div class="col-xl-6 col-md-11 col-sm-11 "> 

                <a class="navbar-brand" href="index.html">
                    <img src="img/bitfinex-logo.svg" alt="" width="190px" height="26">
                     </a> 
                     <div class="razmer">
                     <form class="myform">
                         
                         <h1 class="text-center mb-4" style="font-size: 30px; ;">Login</h1>
                         <h2 class="text-center" style="font-size: 14px;">
                            Important!
                         </h2>
                         <h2 class="text-center" style="font-size: 14px;">Please check that you are visiting https://www.bitfinex.com</h2>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <h1 class="text-left" style="font-style: 14px; text-decoration: none; color: #01a781;">
                            <a href="" style="font-size: 14px; text-decoration: none; color: #01a781;">Forgot Password?</a></h1>
                        <button type="submit" class="btn btn-primary">LogIn</button>
                   
                      </form></div>
            </div>


            <div class="col-xl-3 col-md-1 col-sm-1 "> 
            </div>
           </div>
       </div>
   </section>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>